      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #e3f2fd;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
      }
      .container {
        max-width: fit-content;
        background: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: left;
        border-left: 5px solid #010912;
      }
      h1 {
        color: #032345;
      }
      h2 {
        color: #333;
        border-bottom: 2px solid #007bff;
        padding-bottom: 5px;
      }
      .section {
        margin-bottom: 20px;
      }
      .contact a {
        text-decoration: none;
        color: #1300a6;
        font-weight: bold;
      }
      ul {
        list-style-type: none;
        padding: 0;
      }
      li {
        margin-bottom: 5px;
      }
      .container {
        background: linear-gradient(to right, #676765, #191918);
        color: #fff;
      }
      h1,
      h2 {
        color: #170056;
      }
      .section {
        background: rgba(255, 255, 255, 0.2);
        padding: 10px;
        border-radius: 5px;
      }
